.page-contact {
  background: #fafafa;
  background-image: url("../images/undraw_businesswoman_pc12.svg");
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 49px -40px;
  @include media-breakpoint-up(sm) {
    background-size: 50%;
    background-position: 300px 50px;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 100% -100px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 55%;
    background-position: 100% 70px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    .form-group {
      color: $secondary;
      width: 500px;
      label {
        margin-right: 20px;
        float: left;
        margin-left: 2px;
      }
    }
  }
}
