.page-getStarted {
  background: #fafafa;
  .doc-selection {
    text-align: center;
    h1 {
      color: $black;
    }
    .docs {
      justify-content: space-evenly;
      margin-top: 100px;
    }
  }
}
