.feature {
  height: 100%;
  border: 2px solid #eaeaea;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  @include media-breakpoint-down(md) {
    flex-wrap: nowrap;
  }
  text-align: center;
  .feature-image {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    display: flex;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  .feature-title {
    color: $secondary;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 10px;
  }
  .feature-content {
    margin-bottom: 0;
    p {
      margin: 0;
      text-align: left;
      color: $secondary;
      strong {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
      }
      em {
        color: $primary;
        font-style: normal;
      }
    }
  }
  .feature-scanner-icon {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-self: stretch;
    justify-content: center;
    align-content: center;
    height: 100%;
    img.scanner-icon {
      width: 80px;
      height: auto;
    }
    img.release {
      width: 80px;
      height: auto;
    }
  }
  .feature-scanner-icon-right-gap {
    // If you want to use the scanner icon and still keep the other elements in the 
    // feature element aligned in the center, use this element as well
    align-self: flex-end;
    justify-self: stretch;
    justify-content: center;
    height: 100%;
    width: 80px;
  }
  .feature-list {
    ul.pro {
      display: inline-block;
      list-style: none;
      -webkit-columns: 1;
      -moz-columns: 1;
      margin: 0;
      padding: 0;
      float: left;
      max-width: 45%;
      @include media-breakpoint-down(sm) {
        max-width: 90%;
        float: unset;
      }
      li {
        img {
          width: 40px;
          padding-right: 5px;
        }
        font-size: 1.1rem;
        color: $secondary;
        margin: 25px;
        line-height: 1.3;
        text-align: left;
        // Needs to be the negative of img-width
        text-indent: -40px;
      }
    }
    ul.con {
      display: inline-block;
      list-style: none;
      -webkit-columns: 1;
      -moz-columns: 1;
      margin: 0;
      padding: 0;
      max-width: 45%;
      float: right;
      @include media-breakpoint-down(sm) {
        max-width: 90%;
        float: unset;
      }
      li {
        img {
          width: 40px;
          padding-right: 5px;
        }
        font-size: 1.1rem;
        color: $secondary;
        margin: 25px;
        line-height: 1.3;
        text-align: left;
        // Needs to be the negative of img-width
        text-indent: -40px;
      }
    }
  }
}

.feature.hoverable {
  cursor: pointer;
  &:hover {
    margin-top: -1px;
    margin-bottom: 1px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
}

.no-highlight {
  > a {
    text-decoration: none;
  }
}
