.integration-card {
  border: 2px solid #eaeaea;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  text-align: center;
  min-height: 125px;
  .integration-card-image {
    width: 80px;
    height: 80px;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  .integration-card-title {
    color: $secondary;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.2;
    strong {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
  .integration-card-content {
    margin-bottom: 0;
    p {
      margin: 0;
      color: $secondary;
      font-size: 1rem;
      strong {
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 700;
      }
      em {
        color: $primary;
        font-style: normal;
      }
    }
  }
  .integration-card-scanner-icon {
    
    justify-content: center;
    align-items: center;
    
    img.scanner-icon {
      width: 80px;
      height: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }
    img.release {
      width: 70px;
      height: 15px;
    }
  }
}

.integration-card.hoverable {
  cursor: pointer;
  &:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
}

.no-highlight {
  > a {
    text-decoration: none;
  }
}
