html,
body {
  margin: 0;
  height: 100%;
}
#App {
	font-family: $font-family-heading;
  height: 100vh;
  left: 0;
}
#page-wrap {
	text-align: center;
	overflow: auto;
}
.bm-item {
	display: inline-block;
  text-decoration: none;
  list-style: none;
	margin-bottom: 10px;
	color: $white;
  transition: color 0.2s;
  border: none;
  &:focus {
    outline: none;
  }
	&:hover {
		color: $primary;
	}
}
.bm-burger-button {
  display: inline-block;
  position: fixed;
  right: 10px;
  top: 6px;
	width: 36px;
  height: 36px;
  @include media-breakpoint-up(md) {
    display: none;
  }
}
.bm-burger-bars {
  background: $white;
}
.bm-cross-button {
	height: 24px;
	width: 24px;
}
.bm-cross {
  background: #bdc3c7;
  display: none;
}
.bm-menu {
  background: $highlight;
  font-size: 2.15em;
}
.bm-morph-shape {
	fill: $highlight;
}
.bm-item-list {
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}