//@extend-elements
//original selectors
//a, a:hover, a:focus
%extend_1 {
  color: inherit;
  text-decoration: none;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s;
}

body {
  font-family: $font-family-base;
  background: #fafafa;
}
p {
  font-family: $font-family-base;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
a {
  @extend %extend_1;
  &:hover {
    @extend %extend_1;
  }
  &:focus {
    @extend %extend_1;
  }
}
.sidebar-wrapper {
  display: flex;
}
.sidebar {
  @include media-breakpoint-down(sm) {
    display: none;
  }
  width: 250px;
  background: $white;
  height: 100vh;
  position: sticky;
  top: 50px;
  z-index: 9;
  overflow-y: auto;
  //   color: $white;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s;
  .active-Link {
    box-shadow: 0 1px 18px rgba(0, 0, 0, 0.2);
  }
  &.active {
    min-width: 10px;
    max-width: 10px;
    text-align: center;
    .sidebar-category {
      h3 {
        display: none;
      }
      strong {
        display: block;
      }
    }
  }
  ul {
    margin-top: 20px;
    li {
      a {
        text-align: left;
        padding: 10px;
        font-size: 1.1em;
        display: block;
        &:hover {
          box-shadow: 0 1px 18px rgba(0, 0, 0, 0.2);
        }
        i {
          margin-right: 10px;
        }
      }
      &.active > a {
        box-shadow: 0 1px 18px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .sidebar-category {
    margin-bottom: 0px;
    padding: 20px;
    width: 100%;
    font-size: 1.3rem;
    text-align: left;
  }
  .sidebar-category:hover {
    box-shadow: 0 1px 18px rgba(0, 0, 0, 0.2);
  }
  .sidebar-element {
    font-size: 1rem;
    a {
      text-indent: 16px;
    }
  }
}
#content {
  width: auto;
  padding: 20px;
  min-height: 100vh;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Remove default button style
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

*:focus {
  outline: 0 !important;
}
