.scanner {
  display: flex;
  #content {
    width: 80vw;
    h1 {
      color: $black;
    }
    h2 {
      color: $black;
    }
    h3 {
      color: $black;
    }
    p {
      color: $secondary;
    }
    img {
     max-height: 10vw;
     max-width: 80vw;
      
    }
    a {
      img {
        height: 20px;
        width: auto;
      }
    }
  }
}
